# Database
# Local SQLite database for demos and prototypes.
DATABASE_URL="file:./dev.db"

# Admin credentials
ADMIN_USERNAME="acomss"
ADMIN_PASSWORD="acomss"
ADMIN_SESSION_SECRET="replace_with_a_long_random_string"
VOTER_SESSION_SECRET="replace_with_a_second_long_random_string"

NEXT_PUBLIC_CONTRACT_! ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Blockchain network
NEXT_PUBLIC_CHAIN_ID="31337"
NEXT_PUBLIC_RPC_URL="http://127.0.0.1:8545"
SERVER_WALLET_PRIVATE_KEY="paste_the_private_key_for_the_server_signer_here"
